[submodule "descola-components"]
	path = descola-components
	url = https://github.com/lucasquintinoleanon/descola-components.git
[submodule "src/descola-components"]
	path = src/descola-components
	url = https://github.com/lucasquintinoleanon/descola-components.git
[submodule "src/descola-frontend-components"]
	path = src/descola-frontend-components
	url = https://github.com/grpaiva/descola-frontend-components.git
