//colors
$primary:  #FC4303;
$secondary: #9300CA;
$tertiary: #009AD1;
$black: #222222;
$black2:#333333;
$black4: #111E24;
$success: #0BD86C;
$failure: #B81111;
$info: #E5A800;
$disabled: #DEDFE5;
$grey-light: #F6F7FA;
$grey: #D8D8D8;
$grey2: #E9E9ED;
$grey3: #C1C0C0;
$grey-dark: #8C9199;
$grey-dark2:#888888;
$grey-blue: #FAFBFE;//banner
//$default: #FC4303;
//$alternative: #333333;

// TEMPORARIO
$primary_hover:  rgb(226, 57, 0);
$secondary_hover: rgb(127, 0, 173);
$tertiary_hover: rgb(0, 132, 180);
$black_hover: #111111;
//$black2_hover:#222222;
$success_hover: rgb(10, 196, 96);
//$failure_hover: rgb(158, 7, 7);
$info_hover: rgb(224, 172, 1);