@mixin margin-auto {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
body {
	font-family: 'Comfortaa', sans-serif;
	background: #111;
}
.main-wrapper {
	width: 90%;
	max-width: 900px;
	margin: 3em auto;
	text-align: center;
}
.badge-icon {
	position: relative;
	margin: 1.5em 3em;
	width: 4em;
	height: 6.2em;
	border-radius: 10px;
	display: inline-block;
	top: 0;
	transition: all 0.2s ease;
	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}
	&:before {
		transform: rotate(60deg);
	}
	&:after {
		transform: rotate(-60deg);
	}
	&:hover {
		top: -4px;
	}
	.circle {
		width: 60px;
		height: 60px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;
		i.fa {
			font-size: 2em;
			margin-top: 15px;
		}
	}
	.font {
		display: inline-block;
		margin-top: 1em;
	}
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.orange {
	background: linear-gradient(to bottom right, #FC774B 0%, #FC4303 100%);
	color: #F95620;
}